/*Did not correct CSS do to being first site ever made*/
/*Yes I know its hard to read but its special*/

.text {
    border: solid yellow 5px;
    font-family: sans-serif;
    text-align: center;
}

#myHeader {
    text-align: center;
    font-style: italic;
    padding: 20px;
    font-family: fantasy;
}

body {background-color: violet;}

.eggleton {
    margin-left: auto;
    margin-right: auto;
    position: center;
    width: 50%;
}

#GudetamaMagic {
    border: none;
}